Repository lyndon-baylin/next-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint --fix

perf(cli): enhance per dependency checker script to be pnpm friendly
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(scripts): remove this redundant script since `lints.ts` now supports fix and debug mode
  scripts/lint-fix.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

refactor(scripts): implement sonarqube suggestion
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(scripts): implement code linting suggestions
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(config): enforce interfaces for object shapes, replace `no-var-requires` with `no-require-imports` rule, set`commitlint` config to no type-aware
  eslint.config.mjs
Due: none

fix(scripts): adress issue on skips symlinked package entries during peer deps process
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix(scripts): treat invalid peer ranges/versions as non-fatal even in strict
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix(scripts): fail ci on invalid peer ranges/versions too
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(docs): add vercel composition patterns skill for codex
  .agents/skills/vercel-composition-patterns/AGENTS.md
  .agents/skills/vercel-composition-patterns/SKILL.md
  .agents/skills/vercel-composition-patterns/rules/architecture-avoid-boolean-props.md
  .agents/skills/vercel-composition-patterns/rules/architecture-compound-components.md
  .agents/skills/vercel-composition-patterns/rules/patterns-children-over-render-props.md
  .agents/skills/vercel-composition-patterns/rules/patterns-explicit-variants.md
  .agents/skills/vercel-composition-patterns/rules/react19-no-forwardref.md
  .agents/skills/vercel-composition-patterns/rules/state-context-interface.md
  .agents/skills/vercel-composition-patterns/rules/state-decouple-implementation.md
  .agents/skills/vercel-composition-patterns/rules/state-lift-state.md
Due: prettier --write

fix(config): ignore `.agents/skills` from prettier to preserve 'use client' directives
  .prettierignore
  eslint.config.mjs
Due: none

fix(docs): nextjs directive requirement on client side component
  .agents/skills/vercel-react-best-practices/rules/server-serialization.md
Due: prettier --write

fix(docs): ignore `.agents/skills` from prettier to preserve 'use client' directives
  .agents/skills/vercel-react-best-practices/AGENTS.md
  .agents/skills/vercel-react-best-practices/rules/server-dedup-props.md
Due: prettier --write

chore(cli): run all unit test without `watch` mode
  package.json
Due: prettier --write

perf(config): enhance renovate config
  .github/workflows/renovate-ci.yaml
  renovate.json
Due: prettier --write

fix(config): fix codex concern
  renovate.json
Due: prettier --write

fix(config): ci workflow for renovate was skipped
  .github/workflows/renovate-ci.yaml
  renovate.json
Due: prettier --write

fix(config): unable to locate executable file `pnpm`
  .github/workflows/renovate-ci.yaml
Due: none

refactor(config): update to support eslint v10
  eslint.config.mjs
Due: none

fix(config): remove `source.ogranizeImports` in favor for the `import/order` in eslint config
  .vscode/settings.json
Due: prettier --write

perf(config): apply the latest enhancement regarding on-demand tsconfig discovery
  vitest.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(config): set it to `true` for the moment
  env.mjs
Due: none

perf(config): remove redundant dependencies and update the config to support eslint v10
  eslint.config.mjs
Due: none

chore(deps): remove un-used packages and revert eslint to v9.39.2 from v10 due to dependency issues
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(config): ignore log related to vite tsconfig paths
  .gitignore
Due: none

fix(config): environment variable config
  env.mjs
Due: none

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): dependency update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(scripts): fix storybook test
  .storybook/vitest.setup.ts
  vite.config.ts
  vitest.config.ts
  vitest.storybook.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,html})
  eslint --fix --cache --cache-location node_modules/.cache/.eslintcache: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
