Repository lyndon-baylin/next-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint "**/*.css"

fix: playwright warning regarding cross origin
  next.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: mock root layout component
  src/app/__tests__/layout.test.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix: remove unrecognized class
  src/app/globals.css
Due: prettier --write, stylelint "**/*.css"

feat: added a rule for BEM friendly class names
  stylelint.config.mjs
Due: none

style: added hover effects on the text links
  src/app/page.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: vitest shims for playwright e2e test
  vitest.shims.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: workflow linter for production build
  .github/workflows/ci.yaml
Due: none

chore: script for checking circular dependencies
  scripts/check-circular.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: script for generating dependency graph
  scripts/coupling-graph.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: added `allowSyntheticDefaultImports` settings to support `Common JS` modules
  tsconfig.json
Due: prettier --write

chore: `madge` package custom types
  types/madge.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

style: added default tokens
  src/app/globals.css
Due: prettier --write, stylelint "**/*.css"

chore: remove `storybook` extended vitest setup for testing
  vitest.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: bundles size checker script
  scripts/check-bundle-sizes.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: added `storybook` package
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: just only display the title
  src/app/page.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: `storybook` test config
  vitest.storybook.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: tsconfig extension for `storybook`
  tsconfig.storybook.json
Due: prettier --write

chore: added `storybook` configuration setup
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: remove unused file
  utils/get-internal-dirs.mjs
Due: none

chore: `storybook` assets
  src/stories/Configure.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
Due: none

chore: sample `storybook` stories
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint "**/*.css"

chore: tailwindcss utility
  src/lib/utils.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: custom button component based on tailwindcss
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.tsx
  src/stories/button.css
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint "**/*.css"

chore: disable for the maintime the ci workflow
  .github/workflows/ci.yaml.txt
Due: none

chore: delete old file
  .github/workflows/ci.yaml
Due: none

chore: code comprehension enhancement
  vitest.storybook.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: rename some scripts filename to match on their respective node command
  scripts/css-lint-fix.ts
  scripts/css-lint.ts
  scripts/lint-fix.ts
  scripts/lint.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: bump to the renamed script
  package.json
Due: prettier --write

chore: replace the `geist` font with the one from `fontsourcet`
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/fonts.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint "**/*.css"

chore: added tailwindcss config file in favor for its intellisense
  tailwind.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix: button label displays uppercase characters
  .storybook/main.ts
  .storybook/preview.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: update the test logic due to default page content
  src/app/__tests__/layout.test.tsx
  src/app/__tests__/page.test.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: update config file
  renovate.json
Due: prettier --write

fix: remove pnpm settings since it is not recognize
  renovate.json
Due: prettier --write

chore: remove comments
  renovate.json
Due: prettier --write

perf: minimize pace updates of packages
  renovate.json
Due: prettier --write

fix: config issue
  renovate.json
Due: prettier --write

chore: remove eslint settings since it is not supported in NextJS v16 anymore
  next.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: exclude `.next/dev` directory from code format
  .prettierignore
Due: none

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.{json,md,html})
  eslint --fix --cache --cache-location node_modules/.cache/.eslintcache: any of: *.{js,jsx,ts,tsx}
  stylelint "**/*.css": any of: *.css
