Repository lyndon-baylin/next-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint "**/*.css"

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache --cache-location node_modules/.cache/.eslintcache"],
  "*.css": ["prettier --write", "stylelint \"**/*.css\""],
  "*.{json,md,html}": ["prettier --write"]
}

chore: enable geist font feature settings and fix stylelint issue on tailwind import
  src/app/globals.css
Due: prettier --write, stylelint "**/*.css"

chore: added linter command for css
  package.json
Due: prettier --write

fix: font import issue
  src/app/layout.tsx
  src/fonts.ts
  types/fonts.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

style: fix linting concern
  src/app/page.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: global types
  next-env.d.ts
  reset.d.ts
  types/semver.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: editors base config
  .editorconfig
Due: none

chore: npm customization settings file
  .npmrc
Due: none

chore: config file
  stylelint.config.mjs
Due: none

chore: eslint config helper
  utils/get-internal-dirs.mjs
Due: none

chore: prettier ignore file settings
  .prettierignore
Due: none

chore: automated dependency update tool config file
  renovate.json
Due: prettier --write

chore: tsconfig extension
  tsconfig.scripts.json
Due: prettier --write

chore: script that checks peer dependency issue on packages installed
  scripts/check-peers.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: script that runs the eslint linter and type checking
  scripts/checks.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: enable react strict mode
  next.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: added some packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: added a color on the text displayed
  scripts/checks.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: exclude `html` directory from linting process
  eslint.config.mjs
Due: none

chore: exclude `html` directory to be staged on git repository
  .gitignore
Due: none

chore: documentation update
  README.md
Due: prettier --write

chore: added a config settings for the types
  tsconfig.json
Due: prettier --write

chore: added a RootLayoutBody component to satisfy the layout test
  src/app/layout.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: fix stylelint linter concern
  src/app/globals.css
Due: prettier --write, stylelint "**/*.css"

chore: updated the script command for css linter
  package.json
Due: prettier --write

chore: added a list of directories and files to ignore when linting
  stylelint.config.mjs
Due: none

chore: stylelint linter command scripts
  scripts/style-lint-fix.ts
  scripts/style-lint.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: streamlined environment variable management
  env.mjs
Due: none

chore: vitest testing framework's configuration and setup
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: tests files
  src/app/__tests__/__mock__/next/font/google.ts
  src/app/__tests__/layout.test.tsx
  src/app/__tests__/page.test.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(deps): added some packages and update script command
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(vscode): update settings
  .vscode/settings.json
Due: prettier --write

chore: added pre-configured settings
  next.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: added config for storybook, unused-vars and prettier
  eslint.config.mjs
Due: none

chore: added a practical and minimal set of eslint rule relaxations for storybook configs
  tsconfig.json
Due: prettier --write

chore: added config settings for storybook
  vitest.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix: shim mismatch
  src/fonts.ts
  types/fonts.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: rename meta tile to `Next Enterprise Boilerplate`
  src/app/layout.tsx
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: playwright config
  playwright.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

test: playright sample meta title test
  e2e/example.spec.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: added class functions settings
  .vscode/settings.json
Due: prettier --write
