Repository lyndon-baylin/next-enterprise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache, stylelint "**/*.css"

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix --cache --cache-location node_modules/.cache/.eslintcache"],
  "*.css": ["prettier --write", "stylelint \"**/*.css\""],
  "*.{json,md,html}": ["prettier --write"]
}

chore: exclude `.next/dev` directory from code linting
  eslint.config.mjs
Due: none

chore(deps): update NextJS to v16.0.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: new type import system for automatic route type safety in App Router projects
  next-env.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore: compiles JSX to modern `React 17+ transform (_jsx / _jsxs)`, type safety during development
  tsconfig.json
Due: prettier --write

chore(config): remove storybook `addon-styling-webpack` add-ons
  .storybook/main.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(deps): downgrade vitest packages to v3.2.4 from v4.0.10 due to compatibility issue on storybook
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(config): wrong rules configuration
  commitlint.config.mjs
Due: none

chore(deps): bump nextjs to v16.0.3, react to v19.2.0, react-dom to v19.2.0, typescript-eslint to v8.47.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): bump `pnpm` to v10.23.0
  package.json
Due: prettier --write

chore(config): remove un-used file
  src/fonts.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(utils): added fn description
  src/lib/utils.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(config): added files to ignore with the test coverage
  vitest.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

perf(config): dependency update schedule will run on every 17th day of each month between 1am to 4am
  renovate.json
Due: prettier --write

docs(docs): added information about renovate workflow for dependency maintenance
  README.md
Due: prettier --write

chore(deps): dependency updates
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(docs): renovate workflox instructions
  RENOVATE.md
Due: prettier --write

chore(deps): update dependency axios to v1.13.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update eslint-config-next, @next/bundle-analyzer & @next/eslint-plugin-next to v16.0.7
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update prettier-plugin-tailwindcss to v0.7.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update next, eslint-config-next, @next/bundle-analyzer and @next/eslint-plugin-next to v6.0.10 to patch vulnerability issue
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update react, react-dom to v19.2.3, update @vitejs/plugin-react to v5.1.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): update tailwindcss and @tailwindcss/postcss to v4.1.18
  package.json
  pnpm-lock.yaml
Due: prettier --write

revert(config): revert route types to `dev` mode from `prod` mode
  next-env.d.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(docs): update to documentation for the detailed guide
  README.md
  docs/README.md
  docs/maintenance.md
  docs/quickstart.md
  docs/repository-commit.md
  src/infrastructure/http/axios-http-client.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix(docs): fix path to other docs
  README.md
  docs/README.md
Due: prettier --write

fix(docs): fix documentation path
  README.md
  docs/README.md
Due: prettier --write

fix(docs): remove single quote that wraps the documentation path
  README.md
  docs/README.md
Due: prettier --write

docs(docs): update documention content
  docs/repository-commit.md
Due: prettier --write

fix(docs): fix documentation content scope-enum example
  docs/repository-commit.md
Due: prettier --write

chore(deps): updated storybook to v10.1.11, added zuztand
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(cli): enforce curly braces on all statements
  eslint.config.mjs
Due: none

chore(scripts): remove un-used file
  scripts/lint.ts
  src/infrastructure/http/axios-http-client.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(config): added environment varialbes
  env.mjs
Due: none

chore(config): linting scripts performance enhancement
  package.json
  scripts/lint-check.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

chore(utils): enhance css linter on staged commit
  .lintstagedrc
Due: none

chore(scripts): added command for manual package update with interactivity
  package.json
  pnpm-lock.yaml
Due: prettier --write

perf(scripts): improve performance
  scripts/lint.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache

fix(config): fix some enconsistences in the config settings
  eslint.config.mjs
Due: none

chore(scripts): update the code linting command, outdated package checker command and added some eslint plugin related packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(scripts,ui): implement code linting suggestions
  scripts/coupling-graph.ts
  scripts/css-lint-fix.ts
  scripts/css-lint.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.tsx
  src/stories/Page.tsx
  vitest.config.ts
  vitest.storybook.config.ts
Due: prettier --write, eslint --fix --cache --cache-location node_modules/.cache/.eslintcache
